<%- include("partials/header"); -%>
<!-- 
<h1><a style="text-decoration: none;" href="/posts/<%#= id %>/edit">
    < Back</a> </h1> -->
<h1>Compose</h1>
<form class="" action="<%= submitUrl %>" method="POST">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="postTitle" value="<%= title && title.length > 0 ? title : "" %>"
      required autofocus>
    <label>Description</label>
    <textarea class="form-control" name="postBody" rows="5" cols="30" value=""
      required><%= content && content.length > 0 ? content : "" %></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="btnAction"
    value="<%= title && title.length > 0 ? "Update" : "Publish" %>"><%= title && title.length > 0 ? "Update" : "Publish" %></button>
  <% if(title && title.length > 0) { %>
  <button class="btn btn-danger" type="submit" name="btnAction" value="Delete">Delete</button>
  <% } %>
</form>

<%- include("partials/footer"); -%>