<%- include("partials/header"); -%>
<h1><a style="text-decoration: none;" href="/posts/<%= id %>/edit"><%=title%></a></h1>
<p class="align-post-word"><%=content%></p>

<%- include("partials/footer"); -%>